<!doctype html>
<html lang="en">

<head>
{{>headerlinks}}
    <title>Hello,thapa</title> 
</head>

<body>
    {{>navbar}}
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header-right">
                        <h1>OOOp 404 error</h1>
                        <h1>Get the latest <span>Weather</span> info of your City</h1>
                        <a href="/"><button>go back </button></a>
                    </div>
                    <!--right side div-->
                    <div class="col-md-6 col-12 main_header-right">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class=" w-100" src="images/error.webp" alt="First slide">
                                </div>
                                
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer code-->
    {{>footer}}
</body>

</html>